{
  "name": "shounai",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"html/assets/css/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "sass/base",
      "html",
      "html/assets",
      "html/assets/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/style.scss",
      "imports": [
        "sass/setting/_color.scss",
        "sass/setting/_font.scss",
        "sass/extend/_mixin.scss",
        "sass/extend/_extend.scss",
        "sass/base/_base.scss",
        "sass/base/_utility.scss",
        "sass/base/_unit.scss",
        "sass/parts/_button.scss",
        "sass/parts/_title.scss",
        "sass/parts/_tag.scss",
        "sass/layout/_header.scss",
        "sass/layout/_footer.scss",
        "sass/layout/_main.scss",
        "sass/layout/_aside.scss",
        "sass/page/_common_work.scss",
        "sass/page/_common_life.scss",
        "sass/page/_00_page-parts.scss",
        "sass/page/_01_page-top.scss",
        "sass/page/_02_page-work_top.scss",
        "sass/page/_04_page-work_recruitlist.scss",
        "sass/page/_05a_page-work_outline.scss",
        "sass/page/_05b_page-work_interview.scss",
        "sass/page/_05c_page-work_apply.scss",
        "sass/page/_26_page-work_regist.scss",
        "sass/page/_06_page-life_top.scss",
        "sass/page/_07_page-life_shoku_top.scss",
        "sass/page/_07_page-life_hitobito_top.scss",
        "sass/page/_07_page-life_fukei_top.scss",
        "sass/page/_07_page-life_asobi_top.scss",
        "sass/page/_09_page-life_shoku_article.scss",
        "sass/page/_09_page-life_hitobito_article.scss",
        "sass/page/_09_page-life_fukei_article.scss",
        "sass/page/_09_page-life_asobi_article.scss",
        "sass/page/_10_page-about.scss",
        "sass/page/_11_page-news.scss",
        "sass/page/_12_page-search_result.scss",
        "sass/page/_13_page-login.scss",
        "sass/page/_17a_page-password01.scss",
        "sass/page/_17b_page-password02.scss",
        "sass/page/_17c_page-password03.scss",
        "sass/page/_19a_page-regist_email.scss",
        "sass/page/_19b_page-regist01.scss",
        "sass/page/_19c_page-regist02.scss",
        "sass/page/_19d_page-regist03.scss",
        "sass/page/_20a_page-apply_top.scss",
        "sass/page/_21_page-privacypolicy.scss",
        "sass/page/_26_page-membership.scss",
        "sass/page/_22_page-contact.scss",
        "sass/page/_24_page-recruit_staff.scss",
        "sass/page/_25_page-recruit_contact.scss",
        "sass/page/_30_page-applicant_mypage_top.scss",
        "sass/page/_31_page-info_applicant.scss",
        "sass/page/_32a_page-data_edit01.scss",
        "sass/page/_32b_page-data_edit02.scss",
        "sass/page/_33a_page-withdraw01.scss",
        "sass/page/_33b_page-withdraw02.scss",
        "sass/page/_34a_page-resume_profile01.scss",
        "sass/page/_34b_page-resume_profile02.scss",
        "sass/page/_34c_page-resume_career01.scss",
        "sass/page/_34d_page-resume_career02.scss",
        "sass/page/_34e_page-resume_plan01.scss",
        "sass/page/_34f_page-resume_plan02.scss",
        "sass/page/_35_page-liked_company.scss",
        "sass/page/_36_page-message_company.scss",
        "sass/page/_40_page-company_mypage_top.scss",
        "sass/page/_41_page-info_company.scss",
        "sass/page/_42_page-search_applicant.scss",
        "sass/page/_43_page-applicant_management.scss",
        "sass/page/_44a_page-applicant_detail_scout.scss",
        "sass/page/_44b_page-applicant_detail_applicant.scss",
        "sass/page/_45_page-message_applicant.scss",
        "sass/page/_46_page-message_scout.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}