@charset "utf-8";

/* =========================================================
共通パーツ
========================================================= */

/* #page-parts #header
--------------------------------------------------------- */
/*
#page-parts #header {
	nav {
		padding: 20px;
		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-size: 18px;
			li {
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}
*/

#page-parts {
	padding: 0;
	aside .notice {
		border-bottom: 1px solid #FFF;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
}

/* #page-parts #contents
--------------------------------------------------------- */
#page-parts #contents {
	display: flex;
	width: 100%;
	aside {
		position: fixed;
		box-sizing: border-box;
		padding: 20px;
		width: 200px;
		height: 100%;
		color: #FFF;
		background: #666;
		a {
			color: #FFF;
		}
		dt {
			font-weight: bold;
		}
		dd {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	main {
		margin-left: 200px;
	}
}

/* #page-parts
--------------------------------------------------------- */
#page-parts {
	h1 {
		margin: 30px 0;
		padding: 0 20px;
		text-align: center;
		font-size: 24px;
		span {
			display: inline-block;
			text-decoration: underline;
		}
	}
	section {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}
}

/* #page-parts article
--------------------------------------------------------- */
#page-parts article {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 0 20px 20px;
	&:first-child {
		border-top: 1px solid #ccc;
		margin-top: 20px;
		padding-top: 20px;
	}
	.name {
		margin-bottom: 10px;
		span {
			display: inline-block;
			padding: 5px 10px;
			color: #FFF;
			background: #000;
		}
	}
	.visual {
		margin-bottom: 10px;
		padding: 10px;
		background: #EDEDED;
	}
	.textarea {
		textarea {
			box-sizing: border-box;
			padding: 10px;
			width: 100%;
			height: 100px;
		}
	}
}

