@charset "utf-8";

/* =========================================================
⑤WORK 各社求人 応募方法
========================================================= */

/* #page-work-apply #S-01
--------------------------------------------------------- */
#page-work-apply #S-01 {
    padding-top: 30px;
    .tab {
        margin-bottom: 30px;
    }
	.intro {
		margin-bottom: 30px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
    .desc {
        margin-bottom: 30px;
    }
    .flow {
        margin-bottom: 40px;
    }
    .attention {
        margin-bottom: 150px;
        p {
            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }
}
@include m-smp {
#page-work-apply #S-01 {
    padding-top: 20px;
    .contents {
        padding: 0 10px;
    }
    .tab {
        margin-bottom: 20px;
    }
	.intro {
		margin-bottom: 20px;
		font-size: 17px;
	}
    .flow {
        margin-bottom: 30px;
    }
    .attention {
        margin-bottom: 30px;
    }
}
}
