@charset "utf-8";

/* =========================================================
⑰パスワードの再設定-2
========================================================= */

/* #page-password02 #S-header
--------------------------------------------------------- */
#page-password02 #S-header {
	background: $c-blue_pale;
}
@include m-smp {
#page-password02 #S-header {
}
}

/* #page-search-result #S-01
--------------------------------------------------------- */
#page-password02 #S-01 {
	padding: 0 0 120px;
	.contents {
		margin: 0 auto;
		max-width: 800px;
	}
}
@include m-smp {
#page-password02 #S-01 {
	padding: 0 0 60px;
	.contents {
		margin: 0 10px;
	}
}
}

