@charset "utf-8";

/* =========================================================
⑰パスワードの再設定-3
========================================================= */

/* #page-password03 #S-header
--------------------------------------------------------- */
#page-password03 #S-header {
	background: $c-blue_pale;
}
@include m-smp {
#page-password03 #S-header {
}
}

/* #page-search-result #S-01
--------------------------------------------------------- */
#page-password03 #S-01 {
	padding: 0 0 120px;
	.contents {
		margin: 0 auto;
		max-width: 800px;
	}
	.table {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
@include m-smp {
#page-password03 #S-01 {
	padding: 0 0 60px;
	.contents {
		margin: 0 10px;
	}
	.table {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
}

