@charset "utf-8";

/* =========================================================
㉒お問い合わせ
========================================================= */

/* #page-contact #S-header
--------------------------------------------------------- */
#page-contact #S-header {
	background: $c-beige_pale;
	.title {
		span {
			width: 215px;
		}
	}
}
@include m-smp {
#page-contact #S-header {
	.title {
		span {
			margin: 0 auto;
			width: 154px;
		}
	}
}
}

/* #page-search-result #S-01
--------------------------------------------------------- */
#page-contact #S-01 {
	padding: 0 0 120px;
	.contents {
		margin: 0 auto;
		max-width: 800px;
	}
	.intro {
		text-align: center;
		font-size: 14px;
	}
	.recruitButton {
		margin-bottom: 40px;
		text-align: center;
		.parts-button_B {
			width: 400px;
		}
	}
	.table {
		margin-bottom: 20px;
	}
	.notice {
		margin-bottom: 40px;
		font-size: 12px;
		dt {
			font-weight: bold;
		}
	}
}
@include m-smp {
#page-contact #S-01 {
	padding: 0 0 60px;
	.contents {
		margin: 0 10px;
	}
	.intro {
		font-size: 14px;
	}
	.recruitButton {
		margin-bottom: 20px;
		.parts-button_B {
			width: 320px;
		}
	}
	.table {
		margin-bottom: 10px;
	}
	.notice {
		margin-bottom: 20px;
		font-size: 12px;
	}
}
}
