@charset "utf-8";

/* =========================================================
㉛Info
========================================================= */

/* #page-info-applicant #S-header
--------------------------------------------------------- */
#page-info-applicant #S-header {
	background: $c-blue_pale;
}
@include m-smp {
#page-info-applicant #S-header {
}
}

/* #page-search-result #S-01
--------------------------------------------------------- */
#page-info-applicant #S-01 {
	margin-bottom: 10px;
	padding: 0 0 30px;
	.defaultContainer {
		margin-bottom: 20px;
	}
	.moreContainer {
		display: none;
	}
	.container {
		margin: 0 auto;
		max-width: 800px;
	}
}
@include m-smp {
#page-info-applicant #S-01 {
}
}

/* #page-search-result #S-02
--------------------------------------------------------- */
#page-info-applicant #S-02 {
	padding: 0 0 120px;
}
@include m-smp {
#page-info-applicant #S-02 {
	padding: 0 0 80px;
}
}
