@charset "utf-8";

/* =========================================================
㉞WEB履歴書　キャリアプラン①
========================================================= */

/* #page-resume-plan01 #S-header
--------------------------------------------------------- */
#page-resume-plan01 #S-header {
	color: #FFF;
	background: $c-blue_dark;
}
@include m-smp {
#page-resume-plan01 #S-header {
}
}

/* #page-search-result #S-01
--------------------------------------------------------- */
#page-resume-plan01 #S-01 {
	padding: 40px 0;
	.contents {
		margin: 0 auto;
		max-width: 800px;
	}
	.tab.above {
		margin-bottom: 50px;
	}
	.buttonEdit {
		margin-bottom: 40px;
	}
}
@include m-smp {
#page-resume-plan01 #S-01 {
	padding: 20px 0;
	.contents {
		padding: 0 10px;
	}
	.tab.above {
		margin-bottom: 20px;
	}
	.buttonEdit {
		margin-bottom: 20px;
	}
	.buttonContainer {
		text-align: center;
	}
}
}

/* #page-search-result #S-02
--------------------------------------------------------- */
#page-resume-plan01 #S-02 {
	padding-bottom: 120px;
}
@include m-smp {
#page-resume-plan01 #S-02 {
	padding-bottom: 80px;
}
}
