/* =========================================================
サイト全体で使用するカラー
========================================================= */

$c-gray_bg: #F5F5F5;

$c-blue_dark: #00235D;
$c-blue_light: #436ABC;
$c-blue_pale: #EBEFF4;
$c-blue_pale_fukei: #E3F4FB;

$c-orange_dark: #D54B00;
$c-orange_pale: #FEF3EE;

$c-beige_pale: #F2F0E8;

$c-green_pale: #E7F1EC;
