/* =========================================================
サイト全体で使用するフォントを定義
========================================================= */

$font-JP: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;;

html {
	font-size: 62.5%;
}
body {
	font-size: 1.0rem;
	font-family: $font-JP;
	line-height: 1.6;
}
header {
	font-size: 1.2rem;
}
main {
	font-size: 1.4rem;
}

